# Steam и Dota 2
steam>=1.4.4
dota2>=0.3.1

# Telegram
python-telegram-bot>=20.0

# Утилиты
python-dotenv>=1.0.0
asyncio>=3.4.3
pytz>=2024.1
APScheduler>=3.10.4

# Для обработки ошибок и логирования
aiofiles>=23.0.0

